/*---------CSS GENERAL-------------*/
* {
    font-family: "Fredoka", sans-serif;
}
/*---------------BODY-----------------*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #a66e4f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 90px;
    width: auto;
    margin-bottom: 10px;
    padding-left: 20px;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    color: #fff8f0;
    margin-left: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}
#contenido button {
    background-color: #ff6f3c;
    color: #fff8f0;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px 24px;
    border: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
#contenido button:hover {
    background-color: #ffd97d;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
#imagenes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.imagen {
    width: 540px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen i {
    font-size: 8rem;
    color: #555;
}
/*----------------FOOTER------------------*/
footer {
    background-color: #a66e4f;
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff8f0; /*color del texto*/
    font-size: 1em;
}
footer img {
    height: 60px;
}
footer p {
    margin: 5px;
}
